## Deliverable 2. Create a Customer Travel Destinations Map.

In [3]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [4]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Tierra Colorada,MX,17.1667,-99.5833,91.63,48,83,6.71,broken clouds
1,1,Iqaluit,CA,63.7506,-68.5145,31.73,100,90,8.01,light snow
2,2,Carnarvon,AU,-24.8667,113.6333,55.47,82,81,12.66,broken clouds
3,3,Upernavik,GL,72.7868,-56.1549,31.39,88,30,6.98,scattered clouds
4,4,Varkaus,FI,62.3153,27.8730,52.30,67,98,3.58,overcast clouds

In [7]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [8]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# use the loc method to filter the city_data_df DataFrame for temperature criteria collected in Step 2, 
# then create a new DataFrame.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
13,13,Naze,JP,28.3667,129.4833,74.32,88,99,13.58,overcast clouds
16,16,Kananga,CD,-5.8958,22.4178,70.07,47,82,3.58,broken clouds
20,20,Rikitea,PF,-23.1203,-134.9692,71.29,56,1,20.74,clear sky
21,21,Bartica,GY,6.4000,-58.6167,80.92,98,83,4.07,broken clouds
23,23,Mahebourg,MU,-20.4081,57.7000,73.26,88,40,6.91,scattered clouds
25,25,Zhanaozen,KZ,43.3000,52.8000,77.58,36,0,3.31,clear sky
28,28,Rayachoti,IN,14.0500,78.7500,85.06,56,97,0.65,overcast clouds
30,30,Sao Filipe,CV,14.8961,-24.4956,72.61,80,67,4.74,broken clouds
32,32,Guerrero Negro,MX,27.9769,-114.0611,72.43,51,1,14.25,clear sky
34,34,Antalaha,MG,-14.9003,50.2788,72.37,77,31,7.14,scattered clouds

In [10]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                303
City                   303
Country                303
Lat                    303
Lng                    303
Max Temp               303
Humidity               303
Cloudiness             303
Wind Speed             303
Current Description    303
dtype: int64

In [14]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
# Didn't find any.
clean_df = preferred_cities_df

In [16]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
13,Naze,JP,74.32,overcast clouds,28.3667,129.4833,
16,Kananga,CD,70.07,broken clouds,-5.8958,22.4178,
20,Rikitea,PF,71.29,clear sky,-23.1203,-134.9692,
21,Bartica,GY,80.92,broken clouds,6.4000,-58.6167,
23,Mahebourg,MU,73.26,scattered clouds,-20.4081,57.7000,
25,Zhanaozen,KZ,77.58,clear sky,43.3000,52.8000,
28,Rayachoti,IN,85.06,overcast clouds,14.0500,78.7500,
30,Sao Filipe,CV,72.61,broken clouds,14.8961,-24.4956,
32,Guerrero Negro,MX,72.43,clear sky,27.9769,-114.0611,
34,Antalaha,MG,72.37,scattered clouds,-14.9003,50.2788,

In [17]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    params["location"] = f"{lat},{lng}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [18]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
13,Naze,JP,74.32,overcast clouds,28.3667,129.4833,奄美ポートタワーホテル
16,Kananga,CD,70.07,broken clouds,-5.8958,22.4178,Guest House Wood Land
20,Rikitea,PF,71.29,clear sky,-23.1203,-134.9692,Pension Maro'i
21,Bartica,GY,80.92,broken clouds,6.4000,-58.6167,Relax Inn Hotel
23,Mahebourg,MU,73.26,scattered clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
...,...,...,...,...,...,...,...
676,Torrington,US,76.33,overcast clouds,41.8007,-73.1212,The Yankee Pedlar Inn
678,Tura,IN,72.34,overcast clouds,25.5198,90.2201,Hotel RIKMAN Continental
679,Dwarka,IN,83.10,few clouds,22.2394,68.9678,Hotel Narayan Avezika Comfort
681,San Borja,BO,76.08,broken clouds,-14.8167,-66.8500,
684,Sanming,CN,75.36,overcast clouds,26.2486,117.6186,Sanming Huangting Lijing Hotel

In [24]:
# 7. Drop the rows where there is no Hotel Name.
import numpy as np
hotel_df = hotel_df.replace('', np.nan)
hotel_df.dropna(inplace=True)
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
13,Naze,JP,74.32,overcast clouds,28.3667,129.4833,奄美ポートタワーホテル
16,Kananga,CD,70.07,broken clouds,-5.8958,22.4178,Guest House Wood Land
20,Rikitea,PF,71.29,clear sky,-23.1203,-134.9692,Pension Maro'i
21,Bartica,GY,80.92,broken clouds,6.4000,-58.6167,Relax Inn Hotel
23,Mahebourg,MU,73.26,scattered clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
...,...,...,...,...,...,...,...
675,Bismarck,US,81.86,clear sky,46.8083,-100.7837,Ramkota Hotel & Conference Center
676,Torrington,US,76.33,overcast clouds,41.8007,-73.1212,The Yankee Pedlar Inn
678,Tura,IN,72.34,overcast clouds,25.5198,90.2201,Hotel RIKMAN Continental
679,Dwarka,IN,83.10,few clouds,22.2394,68.9678,Hotel Narayan Avezika Comfort
684,Sanming,CN,75.36,overcast clouds,26.2486,117.6186,Sanming Huangting Lijing Hotel

In [27]:
# 8a. Create the output File (CSV)
# Hm, I guess they wanted us to output the cleaned df to a new df.  Oh, well. 
clean_hotel_df = hotel_df
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [31]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
# The instructions don't mention the Hotel Name, but the hotel names are in the picture provided, so I'll include them.
# This was my first attempt, and it still doesn't quite look like the picture in the Canvas Module Challenge page, 
# even though it works, and everything is there. 
# info_box_template = """
# <dl>
# <dt>Hotel Name</dt><dd>{Hotel Name}</dd>
# <dt>City</dt><dd>{City}</dd>
# <dt>Country</dt><dd>{Country}</dd>
# <dt>Current Description</dt><dd>{Current Description}</dd>
# <dt>Max Temp</dt><dd>{Max Temp} °F</dd>
# </dl>
# """
# So let's see if we can get it exactly like the picture. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [32]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))